
@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$bg-grey: #DDDDDD;
$title-grey: #AAAAAA;

.animated-search {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0 1em 2em;
  background-color: $bg-grey;
  width: 100%;
  border-radius: 10px;
}

.animated-list {
  margin-top: 1em;
  height: 100%;
  padding: 1em;  
  width: 100%;
  border-radius: 10px;
  border: 1px solid $bg-grey;
  overflow: hidden;
}

.img-search{
  margin: 0 50% 0 50%;
}

.img-search-left{
  margin: 0 auto 0 0;
  transition: margin 0.5s linear;
}

.img-painting-border{
  border: 0 solid $title-grey;
}

.img-painting-border:hover{
  border: 3px solid $title-grey;
}
.img-painting-container{
  padding: 2px;
}


.card-title{
  color: black; 
  padding: 0.5em 0 0.5em 0;
  border-radius: 5px 5px 0 0;
  margin: 0 !important;
  padding-left: 0.5em;  
  font-size: 14px;
}

.card-container{
  // border: 1px solid $title-grey;
  // border-radius: 5px;
}

.card-painting{
  background-color: $bg-grey;
  padding: 1em 20% 1em 20%;
  border-top: 1px solid $title-grey;
  border-bottom: 1px solid $title-grey;
}

.card-painting:hover{
  background-color: $bg-grey;
  padding: 1em 20% 1em 20%;
  img {
    border: 3px solid $title-grey;
    cursor: pointer;
  }
}

.painting {
  background-color: $bg-grey;
  border-radius: 10px;
}

.search-input{
  color: grey;
  display: flex;
  padding: 1em 0 1em 0;
  height: 70px;
  div{
    padding: 0 1em 0 1em;
    background: #DDDDDD;
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
  }

  input{
    color: grey;
    flex-grow: 1; 
    background: #DDDDDD; 
    border: 0;
    border-radius: 0 20px 20px 0;
  }
  input:focus{
    outline: none;
  }
}

.detail-painting-img {
  padding: 0;
}


@include media-breakpoint-up(md){
  .detail-painting-img {
    padding: 0 3em 0 3em;
  }
}

.btn-upload {
  background: $bg-grey;
  border-radius: 25px; 
  border: 0;
  width: 150px;
  padding: 0 1em 0 1em;
}

.btn-upload:hover {
  background: #f8ee23;
}

.searchInputInner__indicators{
  width: 0;
}

.searchInputInner__indicator{
  color: transparent !important;
}

.searchInputInner__option{
  background-color: white;
  color: 'black';
  &:hover{
    background-color: #DDDDDD
  }
}